files/OpenJDK11U-*.tar.gz
files/apache-tomcat-*.tar.gz
files/apex_*.zip
files/gosu-amd64
files/logger_*.zip
files/oos-utils-latest.zip
files/ords-*.zip
files/sqlcl-*.zip
files/swagger-ui-*.zip